.section {
    background-color: #fff;
    margin-bottom: 10px;
}

.section--tasksList {
    margin-bottom: 4px;
}

.section__header {
    margin: 0;
    font-size: 20px;
    border-bottom: 4px solid #eee;
    padding: 20px;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;
}

.section__header--listHeader {
    border-bottom: none;
    padding: 0;
}

.section__title {
    font-size: 20px;
    margin: 0
}

@media (max-width: 767px) {
    .section__header {
        grid-template-columns: 1fr;
    }
}