.form {
    display: grid;
    grid-template-columns: 1fr auto;
    padding: 15px 25px;
    column-gap: 15px;
}

@media (max-width: 767px) {
    .form {
        grid-template-columns: 1fr;
        row-gap: 10px;
    }
}

.form__taskInput {
    height: 40px;
    padding: 3px 10px;
    border: 1px solid #eee;
}

.form__button {
    max-width: fit-content;
    background-color: hsl(180, 100%, 25%);
    color: #fff;
    border: none;
    padding: 10px;
    transition: 0.4s;
}

.form__button:hover {
    background-color: hsl(180, 100%, 35%);
    outline: none;
    transform: scale(1.15);
}

@media (max-width: 767px) {
    .form__button:hover {
        transform: none;
    }
}

.form__button:active {
    background-color: hsl(180, 100%, 40%);
}

@media (max-width: 767px) {
    .form__button {
        max-width: 100%;
    }
}