.tasksList {
    margin: 0px;
    padding: 15px 25px;
    min-height: 60px;
}

.tasksList__item {
    list-style-type: none;
    display: grid;
    grid-template-columns: auto 1fr auto;
    margin-top: 20px;
    border-bottom: 2px solid #eee;
    padding-bottom: 10px;
}

.tasksList__item--hidden {
    display: none;
}

.tasksList__content {
    margin-left: 10px;
    margin-right: 10px;
    align-content: center;
    word-break: break-word;
}

.tasksList__content--done {
    text-decoration: line-through;
}

.tasksList__button {
    width: 35px;
    height: 35px;
    border: 0px;
    color: #fff;
}

.tasksList__button--markDone {
   background-color: green;
   transition: 0.4s;
}

.tasksList__button--markDone:hover {
    background-color: hsl(120, 100%, 35%);
    outline: none;
}

.tasksList__button--markDone:active {
    background-color: hsl(120, 100%, 45%);
}

.tasksList__button--deleteTask {
    background-color: crimson;
    transition: 0.4s;
}

.tasksList__button--deleteTask:hover {
    background-color: hsl(348, 83%, 54%);
    outline: none;
}

.tasksList__button--deleteTask:active {
    background-color: hsl(348, 83%, 60%);
}