html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

body {
    font-family: "Montserrat", sans-serif;
    max-width: 1000px;
    margin: auto;
    background-color: #eee;
}

.header {
    margin: 20px 0px;
}